@font-face {
    font-family: 'Anders Font';
    src: url('../font/Anders-Font/Anders Font/Anders.ttf') format('truetype');}

body {
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
font-size: x-large;
}

 .page-header #title {

    font-size: x-large;
    color: black;
     font-family: 'Anders Font', sans-serif;

 }

.page-header h1 {
    font-size: 20px;
}
.inline{
     display: inline-block;
 }

.transparentbackground{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+65,ffffff+100&0.5+0,0.5+65,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 65%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 65%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 65%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    margin-bottom: 50px;
    border-radius: 10px;
}
#search{

    font-size: x-large;
}
.smallmargin{
    margin-bottom: 10px;
}
 .page-header{
     border-bottom: none;
 }


 #affichage{
    font-family: 'Exo 2', sans-serif;
     font-size: small;
     text-align: center ;


}

#history
{
    font-family: 'Play', sans-serif;
     font-size: medium;
     text-align: justify ;

}

    .deezer-widget-player{
     margin: auto;
     width:350px;
 }
 .weathercontent{
     margin : 5%;
     min-height: 90px;
     text-align: center;
 }
 .weatherico{
     float:left;
     margin-bottom: 5% ;
 }
 .titleleft{
     float:left;
     text-align: center;
     font-size: 23px;
     margin : auto;
     margin-left: 10%;
 }
 #right{
     margin : auto;
 }
 #affichage span{
     font-size : 25px;
 }
 #tomorrow span{
     font-size : 25px;
 }
 #tomorrow{
     height: 220px;
     margin-right: 10px;
 }
 #right i{
     width: 30px;
     margin-right: 10px;
 }
 #right i:first-child{
     padding-left: 5px;
 }
 #right i:last-child{
       padding-left: 20px;
 }
 .degreetitle{
     font-size: 50px;
     margin-left: 10px;
 }
 .separator{
     width: 1px;
     border: 1px solid lightgrey;
     height: 150px;
     float: left;
 }
 #stats{
     margin: auto;
     width: 250px;
 }
 #centeredleft{
     margin: auto;
     width: 250px;
 }
 .titleweather{
     text-align: center;
     font-size: 30px;
     padding-bottom: 25px;
 }
 #affichage span{
     margin: 0 15px;
 }
 .weathertomorow{
     height: 50px;
     text-align: center ;
     padding-bottom: 20px;
 }
 #search{
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .form-control{
     height:37px;
 }


@media only screen and (min-width: 768px){
    .page-header h1 {
        font-size: 60px;
    }
}