 body {
     font-family: 'Indie Flower', cursive;
 }

 .page-header h1 {


font-size: x-large;
    color: black;
    /*text-shadow: 3px 3px  #919191; */

     font-family: 'Lobster', cursive;


 }
 .inline{
     display: inline-block;
 }

 #panelcontent {

 }