@font-face {
    font-family: 'Anders Font';
    src: url('font/Anders-Font/Anders Font/Anders.ttf') format('truetype');}

body {
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
font-size: x-large;
}

 .page-header #title {

    font-size: x-large;
    color: black;
    /*text-shadow: 3px 3px  #919191; */

     font-family: 'Anders Font', sans-serif;

 }

.page-header h1 {
    font-size: 60px;
}
.inline{
     display: inline-block;
 }

.transparentbackground{
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    border-radius: 10px;
}
.smallmargin{
    margin-bottom: 10px;
}
 .page-header{
     border-bottom: none;
 }
 #affichage{

    font-family: 'Exo 2', sans-serif;
     font-size: small;

}
 .deezer-widget-player{
     margin: auto;
     width:350px;
 }
 .weathercontent{
     margin : 5%;
     min-height: 90px;
     text-align: center;
 }
 .weatherico{
     float:left;
     margin-bottom: 5% ;
 }
 .titleleft{
     float:left;
     text-align: center;
     font-size: 23px;
     margin : auto;
     margin-left: 10%;
 }
 #right{
     margin : auto;
 }
 #right span{
     font-size : 25px;
 }
 #right i{
     width: 30px;
     margin-right: 10px;
 }
 #right i:first-child{
     padding-left: 5px;
 }
 #right i:last-child{
       padding-left: 20px;
 }
 .degreetitle{
     font-size: 50px;
     margin-left: 10px;
 }
 .separator{
     width: 1px;
     border: 1px solid lightgrey;
     height: 150px;
     float: left;
 }
 #stats{
     margin: auto;
     width: 250px;
 }
 #centeredleft{
     margin: auto;
     width: 250px;
 }
 .titleweather{
     text-align: center;
     font-size: 30px;
     padding-bottom: 25px;
 }
 .weathertomorow{
     height: 50px;
 }
 #search{
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .history {

 }